.container{
    width: 1000px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    /* position: static; */
    position: sticky;
    top:0;
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(1, 52, 35);
    color: white;
    padding: 10px 4px;
    opacity: 0.3;
}
form{
    margin-top: 3rem;
    background-color: rebeccapurple;
    width: 290px;
}
.formWrapper{
    height: 132px;
    transition: all 4s ease; 
} 
.fixedForm{
    position: fixed;
    bottom:0;
}
input{
    --webkit-appearance: none;
    box-sizing: border-box;
    border:1px solid #333;
    padding: .6em .4em;
    height: 42px;
}
button{
    background-color: rgb(245, 149, 4);
    margin-left: .5rem;
    &:disabled{
        background-color: gray;
        color: white;
        pointer-events: none;
    }
    &:hover{
        border-color: white !important;
    }
}
.error{
    height: 1.5em;
    margin-bottom: 0;
}