.hero-custom{
    color: #ffffff;
    background-color: yellowgreen;
    position: relative;
    background-size: cover;
    height: auto;
    @media(min-width:992px){
        aspect-ratio: 100 / 31;
        overflow: hidden;
    }
    
    &__cont{
        left: 0;
        right: 48%;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
        text-align: center;
        @media(max-width:991px){
            position: static;
            transform: translate(0);
            padding: 20px 16px;
        }
    }
    &__body {
        display: inline-block;
    }
    &__title{
        font-family: "ZapfHumanist601BT-Roman";
        color: inherit;
        font-size: 40px;
        letter-spacing: 0.05em;
        line-height: 1.5;
        @media(max-width:991px){
            font-size: 32px;
        }
    }
    &__subtext{
        font-size: 1rem;
    }
    &__tro{
        font-size: 16px;
        margin-bottom: 1.4em;
        line-height: 1.5;
        display: inline-block;
    }
    &__flex{
        display: flex;
        flex-direction: column;
        .hero-custom__cont{
            position: static;
            transform: none;
            flex: 0 0 50%;
            padding: 20px 16px;
            align-items: center;
            justify-content: center;
        }
        .hero-custom__pic{
            flex:1;
            display: flex;
            justify-content: flex-end;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                 width:100%;
                //  height:100%;
                 object-fit: cover;
            }
        }
    }
}